#preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #19191f;
  z-index: 999999; }

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999; }

.type-js {
  position: relative;
  padding: 15px 30px;
  background-color: #19191f;
  z-index: 999999; }
  .type-js::after {
    content: "";
    position: absolute;
    top: -.75%;
    left: -.75%;
    height: 103.5%;
    width: 101.5%;
    background-image: linear-gradient(to right bottom, #08F7FE 0%, #F5D300 100%, #FE53BB 200%, #08F7FE 300%);
    background-size: 300%;
    box-shadow: 0 2rem 5rem rgba(255, 255, 255, 0.3);
    animation-name: back;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    z-index: -1; }
  .type-js::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    height: 100%;
    width: 0;
    background-color: #19191f;
    animation-name: beforea;
    animation-duration: 2.5s;
    animation-iteration-count: 1; }

@keyframes beforea {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }

@keyframes back {
  0% {
    width: 0;
    background-position: 0 0; }
  25% {
    background-position: 75% 75%; }
  50% {
    background-position: 150% 150%; }
  75% {
    background-position: 225% 225%; }
  100% {
    width: 101.5%;
    background-position: 300% 300%; } }

.navbar_new .flex2 {
  z-index: 98;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  .navbar_new .flex2-column {
    perspective: 200rem;
    -moz-perspective: 200rem;
    text-align: center;
    border: 1px solid #fff;
    z-index: 98;
    position: relative;
    height: 50vh;
    width: 33.3333333%;
    color: white;
    visibility: hidden;
    transition: all 1s;
    opacity: 0;
    transform: rotateY(-180deg); }
    @media (max-width: 767.98px) {
      .navbar_new .flex2-column {
        height: 33.3333333%;
        width: 50%; } }
    .navbar_new .flex2-column a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
      height: 100%; }
  .navbar_new .flex2_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .navbar_new .flex2_column1 {
    background-color: #2E3047; }
  .navbar_new .flex2_column2 {
    background-color: #43455C; }
  .navbar_new .flex2_column3 {
    background-color: #707793; }
  .navbar_new .flex2_column4 {
    background-color: #3C3F58; }
  .navbar_new .flex2_column5 {
    background-color: #252A4D; }
  .navbar_new .flex2_column6 {
    background-color: #29648A; }

.navbar_new__background {
  height: 0px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 97;
  transition: all .3s; }

input:checked ~ .navbar_new__background {
  height: 100vh;
  transition: all .3s; }

.navbar_new__label {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.171);
  z-index: 99; }
  @media (max-width: 767.98px) {
    .navbar_new__label {
      top: 10px;
      right: 10px;
      margin-right: -5px;
      margin-top: -10px;
      height: 70px;
      width: 70px; } }
  .navbar_new__label_icon {
    position: relative;
    text-align: center;
    margin-top: 50px;
    height: 3px;
    width: 50px;
    background-color: black;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 767.98px) {
      .navbar_new__label_icon {
        margin-top: 35px; } }
    .navbar_new__label_icon::after {
      position: absolute;
      content: "";
      top: 15px;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      height: 3px;
      width: 50px;
      transition: all .3s;
      background-color: black; }
    .navbar_new__label_icon::before {
      position: absolute;
      content: "";
      top: -15px;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      height: 3px;
      width: 50px;
      transition: all .3s;
      background-color: black; }

.navbar_new input {
  display: none; }

input:checked ~ .navbar_new__label .navbar_new__label_icon {
  background-color: transparent; }

input:checked ~ .navbar_new__label .navbar_new__label_icon::before {
  transform: rotate(-45deg);
  top: 0px;
  transition: all .3s; }

input:checked ~ .navbar_new__label .navbar_new__label_icon::after {
  transform: rotate(45deg);
  top: 0px;
  transition: all .3s; }

.navbar_new input:checked ~ .flex2 {
  visibility: visible; }

.navbar_new input:checked ~ .flex2 .flex2-column {
  z-index: 98;
  transform: rotateY(0);
  opacity: 1;
  visibility: visible;
  transition: all 1s; }

.flex {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex; }
  @media only screen and (max-width: 800px) {
    .flex {
      flex-direction: column; } }
  .flex_column1, .flex_column2 {
    position: relative;
    width: 50%;
    height: 100vh; }
    @media only screen and (max-width: 800px) {
      .flex_column1, .flex_column2 {
        width: 100%;
        height: 50vh; } }
  .flex_column1 {
    position: relative; }
    .flex_column1_content {
      transition: all .2s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.171)); }
    .flex_column1_video {
      position: relative;
      height: 100vh;
      width: 100%;
      object-fit: cover;
      -webkit-object-fit: cover; }
      @media only screen and (max-width: 800px) {
        .flex_column1_video {
          height: 50vh; } }
    .flex_column1:hover .flex_column1_content {
      background-color: darkred;
      transition: all .2s; }
  .flex_column2 {
    background-image: url(../images/IMG_0345.jpg);
    background-size: cover;
    background-position: center center; }
    .flex_column2_content {
      transition: all .2s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.171)); }
    .flex_column2:hover .flex_column2_content {
      background-color: darkcyan;
      transition: all .2s; }

.box-shadow {
  background-color: rgba(0, 0, 0, 0.322);
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: 0 5rem 4rem rgba(0, 0, 0, 0.65); }

.home {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.665), rgba(0, 0, 0, 0.665)), url(../images/834279.jpeg);
  background-size: cover;
  background-position: center center; }
  .home_btn {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    animation: moveloop 3s ease alternate infinite;
    -webkit-animation: moveloop 3s ease alternate infinite;
    box-shadow: 0 3rem 4rem rgba(255, 255, 255, 0.548); }

@keyframes moveloop {
  0% {
    transform: translateY(0px) translateX(0px); }
  25% {
    transform: translateY(-10px) translateX(0px); }
  50% {
    transform: translateY(10px) translateX(0px); }
  75% {
    transform: translateY(-10px) translateX(0px); }
  100% {
    transform: translateY(10px) translateX(0px); } }

@-webkit-keyframes moveloop {
  0% {
    transform: translateY(0px) translateX(0px); }
  25% {
    transform: translateY(-10px) translateX(0px); }
  50% {
    transform: translateY(10px) translateX(0px); }
  75% {
    transform: translateY(-10px) translateX(0px); }
  100% {
    transform: translateY(10px) translateX(0px); } }

.card_background {
  position: relative; }
  .card_background::before {
    content: "";
    position: absolute;
    left: -2.5%;
    top: -2.5%;
    height: 105%;
    width: 105%;
    background-color: red;
    z-index: -1;
    filter: blur(1em);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    background-position: 0 0;
    background-size: 300%;
    transition: all 1s;
    animation: animatedgradient 3s ease alternate infinite;
    -webkit-animation: animatedgradient 3s ease alternate infinite; }

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 50% 50%; }
  100% {
    background-position: 100% 100%; } }

@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 50% 50%; }
  100% {
    background-position: 100% 100%; } }

.card_original {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 32rem;
  position: relative; }

.card_side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  transition: all .8s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 8rem 12rem rgba(0, 0, 0, 0.322);
  border-radius: 3px; }
  .card_side--back {
    transform: rotateY(180deg); }
  .card_side_content-image {
    position: relative;
    height: 40%;
    background-image: linear-gradient(to right bottom, #08f6fe2a, #fe53ba42), url(../images/834279.jpeg);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-size: cover;
    background-position: center center; }
  .card_side--front {
    background-image: url(../images/IMG_0345.jpg);
    background-size: cover;
    background-position: center center;
    position: relative; }
    .card_side--front a {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .card_side_content-back {
    position: absolute;
    top: 50px;
    right: 30px;
    line-height: 0.7;
    color: black;
    display: flex;
    flex-direction: column; }
    .card_side_content-back span {
      padding: 10px 30px;
      border-radius: 2px;
      box-shadow: 0 8rem 12rem white;
      border: 2px solid black;
      background-color: white; }
    .card_side_content-back span:last-child {
      transform: translateX(-10px) translateY(-5px); }

.card_original:hover .card_side--front {
  transform: rotateY(-180deg);
  transition: all .8s; }

.card_original:hover .card_side--back {
  transform: rotateY(0);
  transition: all .8s; }

.text-about {
  position: relative; }
  .text-about::after {
    content: "About Us";
    position: absolute;
    color: rgba(192, 192, 192, 0.6);
    top: -40%;
    width: 100%;
    font-size: 120%;
    z-index: -1;
    text-shadow: 0 20px 10px rgba(0, 0, 0, 0.322);
    left: 50%;
    transform: translateX(-50%); }

.text-suc {
  position: relative; }
  .text-suc::after {
    content: "Success stories";
    position: absolute;
    color: rgba(192, 192, 192, 0.6);
    top: -40%;
    width: 100%;
    font-size: 120%;
    z-index: -1;
    text-shadow: 0 20px 10px rgba(0, 0, 0, 0.322);
    left: 50%;
    transform: translateX(-50%); }

.text-pack {
  position: relative; }
  .text-pack::after {
    content: "Packages";
    position: absolute;
    color: rgba(192, 192, 192, 0.6);
    top: -40%;
    width: 100%;
    font-size: 120%;
    z-index: -1;
    text-shadow: 0 20px 10px rgba(0, 0, 0, 0.322);
    left: 50%;
    transform: translateX(-50%); }

.text-qa {
  position: relative; }
  .text-qa::after {
    content: "Q&A";
    position: absolute;
    color: rgba(192, 192, 192, 0.6);
    top: -40%;
    width: 100%;
    font-size: 120%;
    z-index: -1;
    text-shadow: 0 20px 10px rgba(0, 0, 0, 0.322);
    left: 50%;
    transform: translateX(-50%); }

.text-contact {
  position: relative; }
  .text-contact::after {
    content: "Contact";
    position: absolute;
    color: rgba(192, 192, 192, 0.6);
    top: -40%;
    width: 100%;
    font-size: 120%;
    z-index: -1;
    text-shadow: 0 20px 10px rgba(0, 0, 0, 0.322);
    left: 50%;
    transform: translateX(-50%); }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid lightgray;
  display: block;
  transition: all .3s;
  color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }

/*
.flex {
}
.flex_column1 {

}
*/
